blockquote {
  background-color: grey;
  border-left: 4px solid #636611;
  margin: 0;
  padding: 10px 20px;
  font-style: italic;
  color: #333;
}

cite {
  display: block;
  margin-top: 10px;
  font-size: 0.9em;
  text-align: right;
}
